export NEXT_PUBLIC_EDC_ID="MDSXXXXX.YYYYY"
export NEXT_PUBLIC_EDC_NAME="My MDS EDC Connector"
export NEXT_PUBLIC_EDC_MANAGEMENT_URL="http://edc:8182/api/management"
export NEXT_PUBLIC_EDC_DEFAULT_URL="http://edc:8181/api"
export NEXT_PUBLIC_EDC_PROTOCOL_URL="http://edc:8184/api/dsp"
export NEXT_PUBLIC_EDC_PUBLIC_URL="http://edc:8183/public"
