@import 'tailwindcss';
@tailwind components;
@tailwind utilities;
/* noinspection CssInvalidAtRule */
@plugin "@tailwindcss/typography";

/* noinspection CssInvalidAtRule */
@theme {
  --color-active: #dedede;
  --color-background: #fafafa;
}

@font-face {
  font-display: swap;
  font-family: 'Sans';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/Inter-Light.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Sans';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Sans';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Sans';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Inter-Bold.woff2') format('woff2');
}

/* material-icons-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/material-icons-v140-latin-regular.woff2')
  format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

#__next {
    @apply h-full;
}

.markdown-description {
  @apply prose whitespace-normal max-w-none;
  @apply prose-img:rounded-lg prose-img:my-3 prose-img:object-contain prose-img:max-w-full prose-img:max-h-[250px];
  @apply prose-a:text-[--link-color];
  @apply prose-blockquote:mx-0;
  @apply prose-code:rounded-lg;
  @apply prose-blockquote:border-solid prose-blockquote:border-t-0 prose-blockquote:border-r-0 prose-blockquote:border-b-0;
  @apply prose-table:border-collapse prose-table:text-[13px];
  @apply prose-th:px-[13px] prose-th:py-[6px] prose-th:border prose-th:border-[--tw-prose-td-borders] prose-th:align-middle prose-th:border-solid;
  @apply prose-td:px-[13px] prose-td:py-[6px] prose-td:border prose-td:border-[--tw-prose-td-borders] prose-td:align-middle prose-td:border-solid;

  font: 400 14px / 20px Sans;
  letter-spacing: normal;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
  }
  h1 {
    font-size: 19px;
  }

  h2 {
    font-size: 17px;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
  }

  pre code {
    @apply p-0;
    border: initial;
    line-height: 1.5;
  }

  a:has(> img) {
    @apply w-fit;
  }

  p:has(> a > img) {
    @apply flex flex-col;
  }

  :last-child {
    margin: 0px;
  }
}
